<% provide(:title, 'Configure') %>
<h1>Server config</h1>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Users</a></li>
    <li><a href="#tab2" data-toggle="tab">Subnets</a></li>
    <li><a href="#tab3" data-toggle="tab">Tftp</a></li>
    <li><a hre
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render :template => "users/index" %>
    </div>
    <div class="tab-pane" id="tab2">
      <%= render :template => "subnets/index" %>
    </div>
   <div class="tab-pane" id="tab3">
     <%= render :template => "tftps/index" %>
    </div>
  </div>
</div>
