<li>
<%= link_to subnet.adress + "/" + subnet.mask , edit_subnet_path(subnet) %>
<t>|</t>    <%= link_to "delete", subnet, method: :delete,
                                  data: { confirm: "You sure?" } %>
</li>