<% provide(:title, 'All subnets') %>
<h1>All subnets</h1>

<%= link_to "New Subnet", new_subnet_path,
                                class: "btn btn-large btn-primary" %>

<ul class="subnets">
  <%= render @subnets %>
</ul>
