<li>
<%= link_to tftp.image + " " + tftp.group , edit_tftp_path(tftp) %>
    <t>|</t> <%= link_to "delete", tftp, method: :delete,
                                  data: { confirm: "You sure?" } %>
</li>

