<% provide(:title, 'All subnets') %>
<h1>Tftp groups</h1>

<%= link_to "New tftp group", new_tftp_path,
                                class: "btn btn-large btn-primary" %>

<%= will_paginate %>
<ul class="tftps">
  <%= render @tftps %>
</ul>
<%= will_paginate %>

