- provide(:title, 'Users managment')


/<ul class="users">
ul.users
  = render @users
/</ul>
- if current_user.admin?
 = link_to "New user", new_user_path,
                                class: "btn btn-large btn-primary"