- provide(:title, 'Users managment')
h2 All users
= link_to "New user", new_user_path,
                                class: "btn btn-large btn-primary"

/<ul class="users">
ul.users
  = render @users
/</ul>
